#CONFIG_COMPONENT_HTTPD=y
#CONFIG_COMPONENT_MQTT=y
#CONFIG_COMPONENT_RELAY=y
#CONFIG_COMPONENT_OTA=y

CONFIG_MQTT_TASK_STACK_SIZE=4096
CONFIG_HTTP_SERVER_STACK_SIZE=4096
CONFIG_MQTT_BUFFER_SIZE=1024

# ESP Configs
CONFIG_ESP8266_DEFAULT_CPU_FREQ_80=y
CONFIG_ESP8266_DEFAULT_CPU_FREQ_MHZ=80

# Configure Basic Monitors
CONFIG_ESPTOOLPY_PORT="/dev/ttyS3"
CONFIG_ESPTOOLPY_BAUD_2MB=y
CONFIG_ESPTOOLPY_BAUD_OTHER_VAL=115200
CONFIG_ESPTOOLPY_BAUD=2000000
CONFIG_ESPTOOLPY_COMPRESSED=y
CONFIG_CONSOLE_UART_DEFAULT=y
CONFIG_ESP_CONSOLE_UART_DEFAULT=y
CONFIG_CONSOLE_UART_BAUDRATE=115200
CONFIG_ESP_CONSOLE_UART_BAUDRATE=115200
#CONFIG_CONSOLE_UART_BAUDRATE=9600
CONFIG_ESPTOOLPY_MONITOR_BAUD=115200
CONFIG_ESPTOOLPY_MONITOR_BAUD_115200B=y
CONFIG_ESPTOOLPY_MONITOR_BAUD_OTHER_VAL=115200

CONFIG_SPI_FLASH_MODE=0x3
CONFIG_ESPTOOLPY_FLASHMODE_DOUT=y
CONFIG_ESPTOOLPY_FLASHMODE="dout"
CONFIG_ESPTOOLPY_FLASHSIZE_1MB=y
CONFIG_ESPTOOLPY_FLASHSIZE="1MB"
CONFIG_SPI_FLASH_SIZE=0x100000

# ESP IDF Configs
CONFIG_HTTP_BUF_SIZE=1024
CONFIG_HTTPD_MAX_REQ_HDR_LEN=1024
CONFIG_HTTPD_MAX_URI_LEN=1024
CONFIG_OTA_BUF_SIZE=512
CONFIG_OTA_ALLOW_HTTP=y

# LWIP Config
CONFIG_LWIP_NETIF_LOOPBACK=n
CONFIG_LWIP_LOOPBACK_MAX_PBUFS=0

# MBED Config
CONFIG_ESP_TLS_USING_MBEDTLS=n